---

---
<h1>Validation Report</h1>

<h2><a href="{{ page.rdf }}">{{ page.rdf }}</a></h2>

<strong>Nodes</strong>

{% assign query = 'SELECT ?x ?y ?z WHERE { ?x ?y ?z }' %}
{% assign resultset = page.rdf | sparql_query: query %}

{% for result in resultset %}
<dl>    
    <dt><b>{{ result.x }}</b></dt>
    <dd>{{ result.y }}:</dd>
    <dd>{{ result.z }}</dl>
</dl>
{% endfor %}


